= stylesheet_link_tag "messaging/application"
= javascript_include_tag "messaging/adapt"
= javascript_include_tag "messaging/application"

.container
  .header-section.span12
  - if @search
    %h2 Search results for '#{@search}'
  - if @box == 'inbox'
    %h2 Inbox
  - if @box == 'sent'
    %h2 Sent
  - if @box == 'trash'
    %h2 Trash
  = form_tag trash_messages_path, method: :delete do
    = hidden_field_tag 'current_box', @box
    %table#box
      %tr
        - unless @box == 'trash'
          %th
        %th Sender
        %th Subject
        %th Messages
        %th
      - @messages.each do |m|
        %tr{ class: "#{ 'unread' if m.is_unread?(current_user) }" }
          - unless @box == 'trash'
            %td= check_box_tag '', m.id, false, class: 'delete_multiple_checkbox', name: "conversations[]"
          %td= link_to m.last_sender.email_display_name, message_path(m)
          %td= link_to m.subject, message_path(m)
          %td= link_to m.count_messages, message_path(m)
          %td= link_to truncate(m.last_message.body), message_path(m)
    - unless @box == 'trash'
      = submit_tag "Delete checked messages", id: 'delete_multiple_button'
