= stylesheet_link_tag "messaging/application"
= javascript_include_tag "messaging/adapt"
= javascript_include_tag "messaging/application"

.container
  .header-section.span12
  #message_header.span8.offset1
    .inbox= link_to "Inbox", messages_path
    .subject= @conversation.subject
    #actions
      - if @conversation.is_trashed?(current_user)
        = link_to "Untrash", untrash_message_path(@conversation), class: :button, method: :post
      - else
        = link_to "Trash", trash_message_path(@conversation), class: :button, method: :delete
  %ul#conversation.offset1
    - @conversation.messages.each do |message|
      %li
        .thumbnail.span1
          - if message.sender == current_user
            = image_tag message.sender.avatar.url
            .date= message.created_at.strftime("%b #{message.created_at.day}")
        .body.span6
          = message.body
          - if message.attachment.url
            .attachment
              = link_to message.attachment_identifier, message.attachment.url
        .thumbnail.span1
          - if message.sender != current_user
            = image_tag message.sender.avatar.url
            .date= message.created_at.strftime("%b #{message.created_at.day}")
    %li
      #reply.span6.offset1
        = simple_form_for @message do |f|
          = f.input :conversation_id, as: :hidden
          = f.label :body, label: 'Reply', required: false
          = f.input_field :body, as: :text, label: 'Reply', rows: 10
          = f.input :attachment, as: :file
          = f.button :submit, 'Send', class: "btn btn-primary"
